.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-subtitle-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 1rem;
}

.App-subtitle-2 {
  font-size: 1rem;
  font-weight: 700;
  color: rgb(30 64 175)
}

.App-small-text {
  font-size: .75rem;
  font-weight: 300;
}

.App-card {
  background-color: rgba(147, 150, 150, 0.463);
  border-radius: 16px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
  margin:1rem;
  max-height:  25%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


